
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .about,
  .features,
  .reviews {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .about {
    /* background-image: url(''); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .features {
    background: linear-gradient(rgba(161, 154, 154, 0.45),rgba(161, 154, 154, 0.45)), url('../public/images/features_background.jpg');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    font-size: 30px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
  }

  .reviews {
    /* background-image: url('/images/img-2.jpg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    font-size: 30px;
  }
  
  .sign-up {
    /* background-image: url('/images/img-8.jpg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }

  .review {
    margin: 20px;
  }
  
  .review-card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
  }
  
  .review-title {
    font-weight: bold;
    font-size: 1.2em;
  }
  
  .review-description {
    font-size: 1em;
    color: #555;
  }
  
  .review-stars .star {
    font-size: 1.5em;
    color: #f39c12;
  }
  
  .review-stars {
    vertical-align: middle;
  }